{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Blog</title>
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
   
</head>
<body>
    <header>
        <div class="nav-left">
            <h1 class="header-text"><a href="{% url 'home' %}">Latest Gists</a></h1>
        </div>
        <div class="nav-right">
            <a href="{% url 'post_new' %}">Add Gist</a>
        </div>
    </header>
    {% if user.is_authenticated %}
        <p>Hi {{ user.username }}!</p>
        <p><a href="{% url 'logout' %}">Log out</a></p>
    {% else %}
        <p class="login-status">You are not logged in.</p>
        <a href="{% url 'login' %}" class="login-notify">Log In</a>
    {% endif %}
    <div class="post-conatiner">
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>